<link rel="stylesheet" href="footer.css">
<footer class="footer">
    <p>&copy; 2024 Threads Of Hope. All rights reserved. | Designed by <a href="#">Sailesh Manoj Ekta Sejal</a></p>
    <div class="left">
        <p>Address :Ratu road </p>
    </div>
</footer>