<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thread of Hope</title>
    <link rel="stylesheet" href="home.css">
    
</head>

<body>
    
    <%- include('./Navbar') %>


    

        
        
    <div class="cards">
        <!-- Card 1 -->
        <div class="card">
            <div class="img">
                <img src="/img/cloth.jpg" alt="Cloths Image">
            </div>
            <h4>Cloths</h4>
            
            <a href="/donation"><button class="card_button">Donate</button></a>
        </div>
    
        <!-- Card 2 -->
        <div class="card">
            <div class="img">
                <img src="/img/footware.jpg" alt="Footwear Image">
            </div>
            <h4>Footwear</h4>
            <a href="/donation"><button class="card_button">Donate</button></a>
            
        </div>
    
        <!-- Card 3 -->
        <div class="card">
            <div class="img">
                <img src="/img/toy.jpg" alt="Toys Image">
            </div>
            <h4>Toys</h4>
            
            <a href="/donation"><button class="card_button">Donate</button></a>
        </div>
    </div>
     <section class="mission_donation">
        <div class="para">
            <h1>Our mission</h1>
            <div class="mission">


                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos illo autem consequatur qui totam unde
                    magnam labore magni ipsam vero soluta ducimus, repellendus ab quo laudantium iste ullam maxime quas!
                    Adipisci autem incidunt animi odio nulla nihil facere praesentium corporis soluta consectetur,
                    voluptate enim molestiae veritatis nobis sapiente ut nesciunt recusandae velit sit repellat, tenetur
                    voluptates facilis? Commodi, reprehenderit illum?
                    Possimus ut quas ipsam et nostrum, recusandae quaerat asperiores a reprehenderit perferendis dolore,
                    mollitia molestias rem? Ut odit culpa asperiores incidunt omnis quas ipsam sequi eaque aut hic.
                    Temporibus, repudiandae!
                    Voluptates commodi exercitationem explicabo atque reiciendis repellat enim itaque. Vero deleniti
                    nulla qui natus veniam. Amet porro voluptates temporibus aliquid minus enim consequuntur. Inventore
                    repellendus quae, cumque minus enim quisquam.
                    Vel totam accusantium magni ratione neque maxime hic harum cumque aspernatur eaque, nisi amet beatae
                    numquam nobis optio reiciendis officiis? Cum ipsum voluptates ea dolore tempora blanditiis velit,
                    esse natus?
                    Voluptatum earum sit deserunt dolore totam culpa, soluta commodi maxime accusantium! Eos est
                    perspiciatis officia corrupti sunt corporis. Accusantium eveniet nisi illo optio iste possimus
                    deleniti omnis placeat voluptate tempora.


                    Id aperiam laudantium necessitatibus reiciendis, aliquid ab voluptatum. Corrupti consectetur nostrum
                    ducimus maiores iusto eum tenetur sunt aperiam consequuntur culpa hic, enim odio porro. Natus
                    excepturi provident nihil id quis.
                </p>
            </div>
        </div>
     </section>

       

        <!-- Footer -->
        <%- include('footer') %>
        <script src="script.js"></script>
        
</body>


</html>