<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav.css">
    <title></title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            
            
             <h1>TOH</h1>
        </div>
        
        <ul class="nav-links" id="nav-links">
            <li><a href="./home">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="./donation">Donation</a></li>
            <li><a href="./register">Registration</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./contact">Contact Us</a></li>
        </ul>
    </nav>
</body>
</html>