<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>
    <%- include('./navbar'); %>
    <main>
        <form  method="post" action="/register" >
            <h1>Registration Form</h1>
            <input type="text" name="name" placeholder="Enter your name" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="number" name="phone" placeholder="enter your number" required>
            <input type="text" name="address" placeholder="Enter address" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Register</button>
            
        </form>
        
    </main>
    
    <%- include('footer') %>
</body>
</html>